{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block title %}
Sobre {% endblock %} {% block content %}
<div class="text-center">
  <img src="../../static/blog/img/viagem.jpg" class="rounded" />
</div>
<div class="container" style="text-align: center; margin-top: 20px">
  <h1>ParaViajar</h1>
  <p class="paragrafo">
    ParaViajar foi feito para compartilhar histórias. Pessoas que desejam viajar
    para algum lugar pode acessas aqui e ver a realidade relatas por outras
    pessoas que já estiverem nesse lugar. Poder compartilhar experiências!
  </p>
</div>
{% endblock %} {% block footer %} {% endblock %}
