{% extends "blog/base.html" %} {% block title %} Fale conosco {% endblock %}
......{% block content %}
<div class="container">
  <div id="login">
    <div class="card-header">
      <div class="box">
        <legend>Contatos!</legend>
        <p>
          Email:
          <a target="_blank" href="mailto:paraviajar@gma.com"
            >paraviajar@gma.com</a
          >
        </p>
        <p>
          Whatsapp:
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=5521999999999"
            >21 99999-9999</a
          >
        </p>
        <p>
          Telefone: <a target="_blank" href="tel:21999999999">21 2222-2222</a>
        </p>
        <p>
          Instagram:
          <a target="_blank" href="https://www.instagram.com">@ParaViajar</a>
        </p>
        <p>
          Facebook:
          <a target="_blank" href="https://www.facebook.com/">@Para_Viajar</a>
        </p>
      </div>
      {% endblock content %} {% block footer %} {% endblock %}
    </div>
  </div>
</div>
